@import "compass/css3";
@import "compass/utilities";

//Import all application styles
@import 'application/navigation';

//Import all modules
@import 'modules/about';
@import 'modules/lastfm';
@import 'modules/library';