.redamp-about-panel{
	h1{
		font-size: 20px;
		line-height: 30px;
	}
	ul, li{
		list-style-type: disc;
		list-style-position: inner;
		padding-left: 10px;
		margin-left: 10px;
		line-height: 16px;
	}
}