/******************************************************
*	Lapidos shell navigation
******************************************************/
/*
$tab-spacing: 2px;
$tab-height: 40px;
$tab-font-size: 16px;
$tab-base-color: #eaeaea;
$tab-color-active: #333333;
$tab-background-gradient: color-stops(#dcdcdc, #eaeaea);
$tab-background-gradient-over: 'tab-over' !default;
$tab-background-gradient-active: color-stops(#eaeaea, #ffffff);
$tab-background-gradient-disabled: 'tab-disabled' !default;
*/
/* line 15, ../sass/application/_navigation.scss */
.lapidos-shell-navigation {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a3a3a3), color-stop(100%, #878787));
  background-image: -webkit-linear-gradient(#a3a3a3, #878787);
  background-image: -moz-linear-gradient(#a3a3a3, #878787);
  background-image: -o-linear-gradient(#a3a3a3, #878787);
  background-image: -ms-linear-gradient(#a3a3a3, #878787);
  background-image: linear-gradient(#a3a3a3, #878787);
}

/* line 18, ../sass/application/_navigation.scss */
.lapidos-shell-navigation-container {
  z-index: 500;
  overflow: visible;
}

/* line 23, ../sass/application/_navigation.scss */
.lapidos-shell-navigation-container .x-box-inner {
  overflow: visible;
}

/* line 27, ../sass/application/_navigation.scss */
.lapidos-shell-navigation {
  height: 40px;
  overflow: visible;
  z-index: 500;
}

/* line 33, ../sass/application/_navigation.scss */
.lapidos-shell-navigation-item {
  position: relative;
  float: left;
  display: inline;
  padding: 10px;
  height: 40px;
  cursor: pointer;
  color: #333333;
  font-size: 16px;
  font-family: 'Lucida Grande';
  font-weight: bold;
}

/* line 46, ../sass/application/_navigation.scss */
.navigation-settings .lapidos-shell-navigation-item {
  float: right;
}

/* line 50, ../sass/application/_navigation.scss */
.lapidos-shell-navigation-item-icon .lapidos-shell-navigation-item-display {
  padding-left: 30px;
}

/* line 54, ../sass/application/_navigation.scss */
.lapidos-shell-navigation-item-image {
  position: absolute;
  top: 5px;
  left: 5px;
}

/* line 59, ../sass/application/_navigation.scss */
.lapidos-shell-navigation-item-image img {
  width: 24px;
}

/* line 63, ../sass/application/_navigation.scss */
.lapidos-shell-navigation-item-over, .lapidos-shell-navigation-item-active {
  color: #000000;
}

/* line 67, ../sass/application/_navigation.scss */
.lapidos-shell-navigation-sub-menu {
  display: none;
}

/* line 71, ../sass/application/_navigation.scss */
.lapidos-shell-navigation-sub-menu .lapidos-shell-navigation-item {
  width: 120px;
}

/* line 75, ../sass/application/_navigation.scss */
.lapidos-shell-navigation-sub-menu .lapidos-shell-navigation-item:last-child {
  border-radius: 0px 0px 5px 5px;
}

/* line 79, ../sass/application/_navigation.scss */
.lapidos-shell-navigation-menu li:hover > .lapidos-shell-navigation-sub-menu {
  position: absolute;
  display: block;
  top: 40px;
  left: 0px;
}

/* line 86, ../sass/application/_navigation.scss */
.lapidos-shell-navigation-sub-menu li:hover > .lapidos-shell-navigation-sub-menu {
  position: absolute;
  display: block;
  top: 0;
  left: 120px;
}

/* line 2, ../sass/modules/_about.scss */
.redamp-about-panel h1 {
  font-size: 20px;
  line-height: 30px;
}
/* line 6, ../sass/modules/_about.scss */
.redamp-about-panel ul, .redamp-about-panel li {
  list-style-type: disc;
  list-style-position: inner;
  padding-left: 10px;
  margin-left: 10px;
  line-height: 16px;
}

/******************************************
* Last Fm Module
******************************************/
/* line 4, ../sass/modules/_lastfm.scss */
.lastfm-recent-track {
  position: relative;
  padding: 10px;
}

/* line 9, ../sass/modules/_lastfm.scss */
.lastfm-recent-track .image {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 34px;
  height: 34px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: black 0px 0px 5px;
  -moz-box-shadow: black 0px 0px 5px;
  box-shadow: black 0px 0px 5px;
}
/* line 19, ../sass/modules/_lastfm.scss */
.lastfm-recent-track .image img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 24, ../sass/modules/_lastfm.scss */
.lastfm-recent-track .display {
  padding-left: 40px;
  font-weight: bold;
}

/* line 29, ../sass/modules/_lastfm.scss */
.lastfm-recent-track .date {
  padding-left: 40px;
  padding-top: 3px;
  font-size: 10px;
  font-style: italic;
}

/* line 3, ../sass/modules/_library.scss */
.library-artist {
  width: 126px;
  height: 126px;
  overflow: hidden;
  margin: 0px 10px 10px 0px;
  display: inline-block;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all 1s ease;
}
/* line 13, ../sass/modules/_library.scss */
.library-artist:hover {
  -webkit-box-shadow: black 0px 0px 5px;
  -moz-box-shadow: black 0px 0px 5px;
  box-shadow: black 0px 0px 5px;
}
/* line 17, ../sass/modules/_library.scss */
.library-artist .name {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 14px;
  font-weight: bold;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  z-index: 10000;
}
/* line 31, ../sass/modules/_library.scss */
.library-artist img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 35, ../sass/modules/_library.scss */
.library-artist.drag {
  -webkit-box-shadow: black 0px 0px 5px;
  -moz-box-shadow: black 0px 0px 5px;
  box-shadow: black 0px 0px 5px;
}

/******************************************
* Audio Playlist
******************************************/
/* line 4, ../sass/modules/_playlist.scss */
.playlist-item {
  padding: 5px;
  font-size: 11px;
  font-family: Arial;
}

/* line 9, ../sass/modules/_playlist.scss */
.playlist-item .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 16px;
  height: 16px;
}

/* line 17, ../sass/modules/_playlist.scss */
.playlist-item.playing .icon {
  background-image: url(../images/icons/icon_eq.gif);
  background-repeat: no-repeat;
}

/* line 22, ../sass/modules/_playlist.scss */
.playlist-album-item {
  margin: 3px;
}

/* line 26, ../sass/modules/_playlist.scss */
.playlist-album-item .playlist-album-header {
  border-radius: 5px 5px 0px 0px;
  background-color: #C7C7C7;
  padding: 3px;
  margin-top: 5px;
  font-weight: bold;
}

/* line 34, ../sass/modules/_playlist.scss */
.playlist-album-item .playlist-album-body {
  border: 1px solid #C7C7C7;
  margin-bottom: 5px;
}
